name: Katalon API CI/CD

on:
  push:
    branches: [ "main" ] 
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Katalon API
        uses: katalon-studio/katalon-studio-github-action@v2
        with:
          # --- UBAH DI SINI ---
          # Jangan pakai 'latest', pakai versi spesifik biar nggak error download
          version: '9.6.0' 
          projectPath: '${{ github.workspace }}'
          args: '-noGui -testSuitePath="Test Suites/API/API_User" -browserType="Web Service" -apiKey=${{ secrets.KATALON_API_KEY }}' 