name: Katalon API CI/CD

on:
  push:
    branches: [ "main" ] # Sesuaikan dengan nama branch
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Katalon Studio Action
        uses: katalon-studio/katalon-studio-github-action@v3
        with:
          version: 'latest'
          projectPath: '${{ github.workspace }}'
          args: '-noGui -testSuitePath="Test Suites/API/API_User" -browserType="Web Service" -apiKey=${{ secrets.KATALON_API_KEY }}'